<div class="form-horizontal">
    <h3>Create a new Buzzword</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Buzzwords/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Buzzwords</h3>
    <form id="BuzzwordSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="buzzword" class="col-sm-2 control-label">Buzzword</label>
        <div class="col-sm-10">
            <input id="buzzword" name="buzzword" class="form-control" type="text" ng-model="search.buzzword" placeholder="Enter the Buzzword Buzzword"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="user" class="col-sm-2 control-label">User</label>
        <div class="col-sm-10">
            <select id="user" name="user" class="form-control" ng-model="search.user" ng-options="u as u.id for u in userList">
                <option value="">Choose a User</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="include" class="col-sm-2 control-label">Include</label>
        <div class="col-sm-10">
            <select id="include" name="include" class="form-control" ng-model="search.include" ng-options="i as i for i in includeList">
                <option value="">Choose a Include</option>
            </select>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Buzzword</th>
                    <th>User</th>
                    <th>Include</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Buzzwords/edit/{{result.id}}">{{result.buzzword}}</a></td>
                        <td><a href="#/Buzzwords/edit/{{result.id}}">{{result.user.id}}</a></td>
                    <td><a href="#/Buzzwords/edit/{{result.id}}">{{result.include}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>