<header ng-switch on="$location.path().indexOf('/Buzzwords/new') > -1">
    <h3 ng-switch-when="true">Create a new Buzzword</h3>
    <h3 ng-switch-when="false">View or edit Buzzword</h3>
</header>
<form id="BuzzwordForm" name="BuzzwordForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': BuzzwordForm.buzzword.$invalid}">
        <label for="buzzword" class="col-sm-2 control-label">Buzzword</label>
        <div id="buzzwordControls" class="col-sm-10">
            <input id="buzzword" name="buzzword" type="text" class="form-control" ng-model="buzzword.buzzword" placeholder="Enter the Buzzword Buzzword"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': BuzzwordForm.user.$invalid}">
        <label for="user" class="col-sm-2 control-label">User</label>
        <div id="userControls" class="col-sm-10">
        <select id="user" name="user" class="form-control" ng-model="userSelection" ng-options="u.text for u in userSelectionList"  >
            <option value="">Choose a User</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': BuzzwordForm.exclude.$invalid}">
        <label for="exclude" class="col-sm-2 control-label">Exclude</label>
        <div id="excludeControls" class="col-sm-10">
            <input id="exclude" name="exclude" type="checkbox" class="checkbox" ng-model="buzzword.exclude" placeholder="Enter the Buzzword Exclude"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveBuzzword" name="saveBuzzword" class="btn btn-primary" ng-disabled="isClean() || BuzzwordForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteBuzzword" name="deleteBuzzword" class="btn btn-danger" ng-show="buzzword.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>