<header ng-switch on="$location.path().indexOf('/Histories/new') > -1">
    <h3 ng-switch-when="true">Create a new History</h3>
    <h3 ng-switch-when="false">View or edit History</h3>
</header>
<form id="HistoryForm" name="HistoryForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': HistoryForm.url.$invalid}">
        <label for="url" class="col-sm-2 control-label">Url</label>
        <div id="urlControls" class="col-sm-10">
        <select id="url" name="url" class="form-control" ng-model="urlSelection" ng-options="u.text for u in urlSelectionList"  >
            <option value="">Choose a Url</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': HistoryForm.timeStamp.$invalid}">
        <label for="timeStamp" class="col-sm-2 control-label">Time Stamp</label>
        <div id="timeStampControls" class="col-sm-10">
            <date id="timeStamp" name="timeStamp" ng-model="history.timeStamp" placeholder="Enter the History Time Stamp"></date>
            <span class="help-block error" ng-show="HistoryForm.timeStamp.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': HistoryForm.history.$invalid}">
        <label for="history" class="col-sm-2 control-label">History</label>
        <div id="historyControls" class="col-sm-10">
        <select id="history" name="history" class="form-control" ng-model="historySelection" ng-options="h.text for h in historySelectionList"  >
            <option value="">Choose a History</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': HistoryForm.buzzword.$invalid}">
        <label for="buzzword" class="col-sm-2 control-label">Buzzword</label>
        <div id="buzzwordControls" class="col-sm-10">
            <input id="buzzword" name="buzzword" type="text" class="form-control" ng-model="history.buzzword" placeholder="Enter the History Buzzword"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': HistoryForm.instanceCount.$invalid}">
        <label for="instanceCount" class="col-sm-2 control-label">Instance Count</label>
        <div id="instanceCountControls" class="col-sm-10">
            <input id="instanceCount" name="instanceCount" type="number" class="form-control" ng-model="history.instanceCount" placeholder="Enter the History Instance Count"></input>
            <span class="help-block error" ng-show="HistoryForm.instanceCount.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': HistoryForm.frequency.$invalid}">
        <label for="frequency" class="col-sm-2 control-label">Frequency</label>
        <div id="frequencyControls" class="col-sm-10">
            <input id="frequency" name="frequency" type="number" class="form-control" ng-model="history.frequency" placeholder="Enter the History Frequency"></input>
            <span class="help-block error" ng-show="HistoryForm.frequency.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': HistoryForm.density.$invalid}">
        <label for="density" class="col-sm-2 control-label">Density</label>
        <div id="densityControls" class="col-sm-10">
            <input id="density" name="density" type="number" class="form-control" ng-model="history.density" placeholder="Enter the History Density"></input>
            <span class="help-block error" ng-show="HistoryForm.density.$error.number">not a number</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveHistory" name="saveHistory" class="btn btn-primary" ng-disabled="isClean() || HistoryForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteHistory" name="deleteHistory" class="btn btn-danger" ng-show="history.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>